body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #111;
  color: #fff; }

a {
  color: #FF8080;
  text-decoration: none; }

a:visited {
  color: #FF8080; }

a:hover {
  color: #fff; }

.center {
  text-align: center; }

#main-wrapper {
  margin: auto;
  margin-top: 0;
  padding: 0;
  max-width: 1200px; }

#header {
  padding: 20px;
  text-align: center;
  cursor: default; }

#footer {
  padding: 20px;
  text-align: center;
  color: #666; }

.post {
  position: relative;
  margin-bottom: 50px; }

.post-image {
  width: 100%;
  cursor: pointer; }

.image-info-wrapper {
  width: 100%;
  position: absolute;
  background-color: rgba(64, 64, 64, 0.5);
  display: none;
  cursor: pointer; }

.image-info {
  padding: 20px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-align: center; }

.post-image-wrapper:hover .image-info-wrapper {
  display: block; }

.post-datetime {
  padding: 10px; }

.post-date {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin: 0; }

.post-time {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5em;
  margin: 0 0 5px 0; }

.post-title {
  text-align: center;
  margin: 5px; }

ul.menu {
  display: inline-block;
  padding: 0;
  margin: 20px; }

ul.menu li {
  display: inline;
  float: left;
  color: #FF8080; }

ul.menu li a {
  padding: 8px 16px; }

ul.menu li a.active {
  background-color: #FF8080;
  color: #000; }

ul.menu li a:hover {
  background-color: #FF8080;
  color: #000; }

ul.menu li.empty {
  cursor: default;
  padding: 8px 16px; }

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 20px; }

ul.pagination li {
  display: inline;
  float: left;
  color: #FF8080; }

ul.pagination li a {
  padding: 8px 16px; }

ul.pagination li a.active {
  background-color: #FF8080;
  color: #000; }

ul.pagination li a:hover {
  background-color: #FF8080;
  color: #000; }

ul.pagination li.empty {
  cursor: default;
  padding: 8px 16px; }

/*# sourceMappingURL=style.css.map */
