html {
  height: 100%; }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #fff;
  color: #333; }

a {
  color: #F00;
  text-decoration: none; }

a:visited {
  color: #F00; }

a:hover {
  color: #333; }

#header {
  width: 100%;
  /*height: 64px;*/
  background-color: #333;
  color: #fff;
  padding: 25px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  font-size: 32px;
  text-align: center; }

#logout-button {
  float: right;
  color: #fff; }
  #logout-button:hover {
    color: #F00; }

#sidebar {
  float: left;
  height: 100%;
  background-color: #111;
  color: #fff;
  /*padding: 20px;*/
  width: 240px; }

ul.sidebar-menu {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0; }

ul.sidebar-menu li {
  display: inline-block;
  /*float: left;*/
  width: 100%; }

ul.sidebar-menu li a {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #111;
  color: #fff; }

ul.sidebar-menu li a.active {
  background-color: #F00;
  color: #111; }

ul.sidebar-menu li a:hover {
  background-color: #F00;
  color: #111; }

#content {
  padding: 20px;
  overflow: hidden; }

#login {
  padding: 20px;
  overflow: hidden;
  width: 300px;
  margin: auto; }
  #login input[type="text"], #login input[type="password"] {
    background-color: #333;
    color: #fff;
    margin: 5px 0;
    padding: 10px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    border: none;
    width: 100%; }
  #login input[type="submit"] {
    float: right;
    background-color: #F00;
    color: #fff;
    padding: 10px;
    border: none; }
    #login input[type="submit"]:hover {
      background-color: #333; }

/*# sourceMappingURL=style.css.map */
