body{
    padding:0;
    margin:0;
    font-family: $main-font;
    //font-family: 'Open Sans', sans-serif;
    //font-family: 'Open Sans Condensed', sans-serif;
    background-color: $bg-color;
    color: $text-color;
}

a{
    color: $link-color;
    text-decoration: none;
}

a:visited{
    color: $link-color;
}

a:hover{
    color: $text-color;
}

.center{
    text-align: center;
}

#main-wrapper{
    margin: auto;
    margin-top: 0;
    padding: 0;
    max-width: $max-width;
}

#header{
    padding: 20px;
    text-align: center;
    cursor: default;
}

#footer{
    padding: 20px;
    text-align: center;
    color: $footer-color;
}