ul.pagination{
    display: inline-block;
    padding: 0;
    margin: 20px;
    //margin-bottom: 50px;
}

ul.pagination li{
    display: inline;
    float: left;
    color: $link-color;
}

ul.pagination li a{
    //color: $link-color;
    //text-decoration: none;
    padding: 8px 16px;
}

ul.pagination li a.active{
    background-color: $link-color;
    color: #000;
}

ul.pagination li a:hover{
    background-color: $link-color;
    color: #000;
}

ul.pagination li.empty{
    cursor: default;
    padding: 8px 16px;
}