.post{
    position: relative;
    margin-bottom: 50px;
}

.post-image{
    width: 100%;
    cursor: pointer;
}

.image-info-wrapper{
    width: 100%;
    position: absolute;
    //bottom: 0px;
    //padding: 10px;
    background-color: rgba(64, 64, 64, 0.5);
    //opacity: 0.0;
    display: none;
    cursor: pointer;
}

.image-info{
    padding: 20px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.post-image-wrapper:hover .image-info-wrapper{
    //opacity: 1;
    display: block;
}

.post-datetime{
    padding: 10px;
}

.post-date{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin: 0;
}
.post-time{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    margin: 0 0 5px 0;
}

.post-title{
    text-align: center;
    margin: 5px;
}