$main-font: 'Lato', sans-serif;

$bg-color: #111;
$text-color: #fff;

$max-width: 1200px;

$footer-color: #666;

$link-color: #FF8080;//00C0FF;

@import 'body';

@import 'post';

@import 'menu';

@import 'pagination';