html{
    height: 100%;
}

body{
    height: 100%;
    padding:0;
    margin:0;
    font-family: $main-font;
    //font-family: 'Open Sans', sans-serif;
    //font-family: 'Open Sans Condensed', sans-serif;
    background-color: $bg-color;
    color: $text-color;
}

a{
    color: $link-color;
    text-decoration: none;
}

a:visited{
    color: $link-color;
}

a:hover{
    color: $text-color;
}