#header{
    width: 100%;
    /*height: 64px;*/
    background-color: $header-bg-color;
    color: $header-text-color;
    padding: 25px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    font-size: 32px;
    text-align: center;
}

#logout-button{
    float: right;
    color: $sidebar-text-color;
    
    &:hover{
        color: $sidebar-link-color;
    }
}