#login{
    padding: 20px;
    overflow: hidden;
    width: 300px;
    margin: auto;
    
    input[type="text"], input[type="password"]{
        background-color: $text-color;
        color: $bg-color;
        margin: 5px 0;
        padding: 10px;
        @include box-sizing(border-box);
        border: none;
        width: 100%;
    }
    
    input[type="submit"]{
        float: right;
        background-color: $link-color;
        color: $bg-color;
        padding: 10px;
        border: none;
        
        &:hover{
            background-color: $text-color;
        }
    }
}