#sidebar{
    float: left;
    height: 100%;
    background-color: $sidebar-bg-color;
    color: $sidebar-text-color;
    /*padding: 20px;*/
    
    width: 240px;
}

ul.sidebar-menu{
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
}

ul.sidebar-menu li{
    display: inline-block;
    /*float: left;*/
    width: 100%;
}

ul.sidebar-menu li a{
    box-sizing : border-box;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 20px;
    //height: 32px;
    background-color: $sidebar-bg-color;
    color: $sidebar-text-color;
}

ul.sidebar-menu li a.active{
    background-color: $sidebar-link-color;
    color: $sidebar-bg-color;
}

ul.sidebar-menu li a:hover{
    background-color: $sidebar-link-color;
    color: $sidebar-bg-color;
}