$main-font: 'Lato', sans-serif;

$bg-color: #fff;
$text-color: #333;
$header-bg-color: #333;
$header-text-color: #fff;
$sidebar-bg-color: #111;
$sidebar-text-color: #fff;
$link-color: #F00;
$sidebar-link-color: #F00;

@mixin box-sizing($type){
    -webkit-box-sizing: $type; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: $type;    /* Firefox, other Gecko */
    box-sizing: $type;         /* Opera/IE 8+ */
}

@import 'body';
@import 'header';
@import 'sidebar';
@import 'content';
@import 'login';